:root {
  --clr-primary-400: hsl(206, 100%, 75%);
  --clr-primary-600: hsl(206, 100%, 65%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-700: hsl(0, 0%, 15%);

  --ff-primary: "Roboto", sans-serif;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-700);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
}

a {
  color: var(--clr-primary-600);
}

label:hover,
input:hover,
button:hover {
  cursor: pointer;
}

label:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: 1px solid var(--clr-neutral-700);
}

button:active {
  transform: scale(0.95);
}

.settings-top,
.settings-bottom {
  background-color: var(--clr-primary-400);
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.settings-top {
  box-shadow: 0 -5px 5px hsla(0, 0%, 0%, 0.1) inset;
}

.settings-top__title {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.15em;
  white-space: nowrap;
  opacity: 0.8;
}

.settings-top__color-picker {
  --clr-swatch-border: 1.25px solid var(--clr-neutral-700);
  --clr-swatch-border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background-color: transparent;
  padding: 0;
  width: 35px;
  height: 38.5px;
  border: none;
  border-radius: var(--clr-swatch-border-radius);
}

.settings-top__color-picker::-webkit-color-swatch {
  border: var(--clr-swatch-border);
  border-radius: var(--clr-swatch-border-radius);
}

.settings-top__color-picker::-moz-color-swatch {
  border: var(--clr-swatch-border);
  border-radius: var(--clr-swatch-border-radius);
}

.settings-top__color-randomizer {
  width: 30px;
  aspect-ratio: 1/1;
  border: 1.25px solid var(--clr-neutral-700);
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #0000ff,
    #9900ff,
    #ff00ff,
    #ff0000
  );
  transition: transform 200ms ease;
}

.settings-top__user-input {
  background-color: var(--clr-neutral-200);
  width: 40px;
  padding: 0.15em 0.1em;
  border: 1px solid var(--clr-neutral-700);
}

.settings-bottom {
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.1) inset;
}

.settings-bottom__tool-label {
  --tool-clr: var(--clr-neutral-700);
  font-size: 1.5rem; /* icon size */
  color: var(--tool-clr);
  border-radius: 50%;
}

.settings-bottom__tool {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

.settings-bottom__clear-all {
  font-size: var(--fs-200);
  padding: 0.5em 1.25em;
  border: 1px solid var(--clr-neutral-700);
}

.grid {
  --grid-bg-clr: var(--clr-neutral-100);
  width: 100%;
  max-width: 960px;
  aspect-ratio: 1/1;
  background-color: var(--grid-bg-clr);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin: 0 auto;
}

.grid__square {
  width: var(--square-size);
  height: var(--square-size);
  border: 0.1px solid var(--clr-neutral-500);
}

.footer {
  text-align: center;
  padding: 2em;
  margin-top: 5rem;
}

.footer p:nth-of-type(2) {
  margin-top: 0.5rem;
}

/* UTILITY CLASSES */
.flex-group {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.placeholder-text {
  font-size: var(--fs-300);
  white-space: nowrap;
  opacity: 0.5;
}

.active {
  transform: scale(1.15);
}

.disabled {
  opacity: 0.5;
}

/* TABLET & DESKTOP SCREENS */
@media (min-width: 45em) {
  :root {
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
  }

  .settings-top,
  .settings-bottom {
    padding: 1em 4em;
  }
}
